project:
  type: manuscript

manuscript:
  article: index.qmd

format:
  html:
    toc: true
    toc-depth: 2
    number-sections: true
  pdf:
    toc: true
    number-sections: true

execute:
  freeze: auto
